.header-top {
    grid-template-columns: 2% auto 2%;
}

.header-bottom {
    grid-template-columns: 2% auto 2%;
}

.first-div-grid {
    grid-template-columns: 2% auto 2%;
}

.first-div-h6 {
    visibility: hidden;
}

.first-div-bottom-txt {
    display: none;
}

main {
    grid-template-columns: 2% auto 2%;
}

.companies {
    gap: 40px;
}

.companies h6 {
    font-size: 15px;
}

.companies img {
    width: 4%;
}

.first-question h2 {
    font-size: 35px;
}

.first-question-cards {
    grid-template-columns: auto auto;
    gap: 100px;
}

.first-question-cards img {
    width: 15%;
}

.first-question-cards h5 {
    font-size: 20px;
}

.first-question-cards p {
    font-size: 14px;
    line-height: 25px;
}

.second-question h2 {
    font-size: 35px;
}

.second-question-cards {
    grid-template-columns: auto auto;
    gap: 100px;
}

.second-question-cards img {
    width: 15%;
}

.second-question-cards h5 {
    font-size: 20px;
}

.second-question-cards p {
    font-size: 14px;
    line-height: 25px;
}

.thirt-question h2 {
    font-size: 35px;
}

.thirt-question p {
    font-size: 18px;
}

.thirt-question-thirt-question-cards {
    row-gap: 30px;
}

.thirt-question-card {
    flex: 30%;
}

.thirt-question .six-remove {
    display: none;
}

.thirt-question-card h5 {
    font-size: 17px;
}

.fourth-question h2 {
    font-size: 35px;
}

.fourth-question img {
    width: 10%;
}

.fourth-question-links {
    grid-template-columns: auto auto auto;
}

.footer-top-imgs div div {
    margin-left: 30px;
}

.footer-top-imgs div h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-top-imgs h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

.footer-top-imgs p {
    font-size: 12px;
}

.footer-top-imgs a {
    padding: 5px 15px;
    font-size: 12px;
}

footer {
    padding: 30px 0;
    grid-template-columns: 2% auto 2%;
}