.header-first-div img {
    width: 75%;
}

.header-first-div a {
    display: none;
}

.header-second-div .header-second-div-a-background {
    display: none;
}

.header-bottom a {
    font-size: 12px;
}

.first-div-txt {
    margin: 0;
    display: flex;
    row-gap: 0;
    flex-direction: column;
    padding-top: 20px;
}

.first-div-txt-inner-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 85px;
}

.first-div-bottom-txt {
    display: none;
}

.first-div-txt-inner h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

.first-div-txt-inner h6 {
    font-size: 16px;
    margin-bottom: 16px;
}

.first-div-txt-inner-btn {
    margin-bottom: 17px;
}

.first-div-txt-inner-btn a {
    padding: 10px 10px;
    font-size: 12px;
}

.first-div-txt-inner-btn-first {
    margin-right: 0;
}

.companies {
    margin-top: 0px;
    gap: 22px;
    padding: 10px;
}

.companies h6 {
    font-size: 9px;
}

.first-question {
    padding: 60px 0;
}

.first-question h2 {
    font-size: 24px;
}

.first-question-cards {
    grid-template-columns: auto;
    gap: 30px;
}

.first-question-cards img {
    width: 10%;
}

.first-question-cards h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.first-question-cards p {
    margin-top: 10px;
}

.second-question {
    padding: 60px 0;
}

.second-question h2 {
    font-size: 24px;
}

.second-question-cards {
    grid-template-columns: auto;
    gap: 30px;
}

.second-question-cards img {
    width: 10%;
}

.second-question-cards h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.second-question-cards p {
    margin-top: 10px;
}

.thirt-question {
    padding: 60px 0;
}

.thirt-question h2 {
    font-size: 24px;
}

.thirt-question p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.thirt-question-card {
    flex: 50%;
}

.fourth-question {
    padding: 60px 0;
}

.fourth-question h2 {
    font-size: 24px;
}

.fourth-question-links div a {
    flex-direction: column;
}

.footer-top-imgs {
    flex-direction: column;
}

.footer-top-imgs div {
    position: relative;
}

.footer-top {
    grid-template-columns: auto;
}

.footer-top-first a {
    width: 40%;
}

.footer-top-first a img {
    width: 40%;
}

.footer-bottom-first {
    display: none;
}

.footer-bottom-second {
    display: none;
}

.footer-hr {
    display: block;
    border: none;
    height: 1px;
    background: rgb(95, 95, 95);
    width: 230%;
    max-width: 480px;
    margin: 10px 0;
}